* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background: #2b2c2d;
  margin-bottom: 20vh;
}

.page-container {
  height: 80vh;
  align-items: center;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.option {
  color: white;
  background: black;
  text-align: left;
  margin: 2em;
  flex: 1 1 0px;
  padding: 2em;
  padding-top: 60vh;
}
.option h2 {
  font-size: 2em;
  line-height: 1.2em;
}
.option p {
  font-size: 1em;
}
